html, body {
    margin: 0;
    width: 100%;
}

.main-container {
    width: 100%;
    height: 1080px;
    position: relative;
}

.img-background {
    width: 100%;
    height: auto;
    opacity: 0.6;
}

h1 {
    width: 100%;
    margin-top: 15%;
    position: absolute;
    font-size: 7vw;
    font-weight: bold;
    text-align: center;
    color: black;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
}

#clock {
    width: 100%;
    position: absolute;
    font-size: 8vw;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 25%;
}